:root {
	--secondaryGreen: #d0efb1;
	--primaryGreen: #b3d89c;
	--primaryBlue: #77a6b6;
	--secondaryDarkBlue: #4d7298;
	--secondaryLightBlue: #9dc3c2;
}

@font-face {
	font-family: 'PaytoneOne';
	src: url('../fonts/PaytoneOne-Regular.ttf');
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background: var(--primaryBlue);
}

header {
	font-family: PaytoneOne;
	text-align: center;
	background: var(--primaryGreen);
	padding-block: 0.5em;
	color: #353238;
}

h1 {
	user-select: none;
}
